.certificate__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
  flex-wrap: wrap;
  row-gap: 1.2em;
  padding: 0px 10px;
}

.certificate__item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  text-transform: capitalize;
  transition: 0.3s;
}

.certificate__item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.certificate__container {
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  justify-content: center;
}

.certificate__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

.certificate__card:hover {
  background: var(--title-color);
}

.certificate__img {
  width: 295px;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
  object-fit: fill;
  height: 200px;
}

.certificate__card .certificate__img {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.certificate__card:hover .certificate__img {
  transform: scale(1.05);
}

.certificate__title {
  font-size: var(--normal-forn-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.certificate__links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.certificate__button {
  font-size: var(--small-font-size);
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
}

.certificate__button,
.certificate__button:visited,
.certificate__button:active {
  color: var(--text-color);
  text-decoration: none;
}

.certificate__button-icon {
  font-size: 1rem;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.certificate__card .certificate__button,
.certificate__card .certificate__button-icon,
.certificate__button .certificate__button-icon {
  transition: 0.3s ease-in-out;
}

.certificate__card h3 {
  transition: 0.3s ease-in-out;
}

.certificate__card:hover h3,
.certificate__card:hover .certificate__button,
.certificate__card:hover .certificate__button-icon,
.certificate__button:hover .certificate__button-icon {
  color: var(--container-color);
}

.certificate__button:hover .certificate__button-icon {
  transform: translate(0.25rem);
}

.active-certificate {
  background-color: var(--title-color);
  color: var(--container-color);
}

@media screen and (max-width: 992px) {
  .certificate__container {
    gap: 1.25rem;
  }

  .certificate__card {
    padding: 1rem;
  }

  .certificate__img {
    margin-bottom: 0.75rem;
  }

  .certificate__title {
    margin-bottom: 0.25rem;
  }
}

@media screen and (max-width: 768px) {
  .certificate__container {
    grid-template-columns: max-content;
  }
}

@media screen and (max-width: 576px) {
  .certificate__container {
    grid-template-columns: 1fr;
  }

  .certificate__img {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .certificate__item {
    font-size: var(--small-font-size);
  }

  .certificate__filters {
    column-gap: 0.25rem;
  }
}
